extends layout

block content
  header.align-center
    h2 Inspirations
  
  a(href='https://www.gapminder.org/tools/')
    h3 Gapminder - data visualisation
    img(src="/images/gapminder.jpg" alt='Image not found' width='100%')
  a(href='https://templated.co/projection')
    h3 Projection - bootstrap template
    img(src="/images/projection.png" alt='Image not found' width='100%')
